.navigation ul li {
	display: inline-block;
	list-style: none;
	float: right;
}

body{
	background-color: #eeeed0;
}

li{
	padding: 15px;

}

ul li a:hover{
	text-decoration: none;
	color: red;
}

.login{
	opacity:0.7;
	background-color:#eeeee0;
	width: 15%;
}
button{
	background-color: #eeeeee;
}
.submit:hover{
opacity: 0.7;	
}